@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

#mobile {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  
   font-family: 'Inter';
}

body p {
    font-size: 15px;
}


.header {
    width: 80vw;
    height: 30px;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header a {
    color: #949694;
    }


.logo {
    height: 30px;
}

.nav-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

header li {
    list-style: none;
    margin-left: 15px;
    padding: 5px;
}



header a {
    text-decoration: none;
}

header a:hover {
   
    color: hsl(5, 85%, 63%);
}

.logo-link {
    display: flex;
    flex-basis: 30%;
  
}

.nav-links {
    display: flex;
    flex-basis: 50%;
 font-style: italic;
 color: black;

}

.nav li:hover {
   transform: scale(1.3);
   transition: 0.4s ease-out;
 
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {

    width: 35px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.mobile-menu {
    display: none;
    position: absolute;
    
    top: 40px;
    left: 40px;
    height: calc(100vh - 30px);
    width: 80vw;

}

.mobile-menu li {
    margin: 10.7px;
    background-color: rgb(13, 13, 13);
    width: 79vw;
    text-align: center;
    border-radius: 5px;
   
}





.mobile-menu ul {
    border: solid black;
}

.mobile-menu a {
    color: antiquewhite;
}
.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}



















#container {
    width: 80vw;
    height: 55vh;
    margin: 1.5rem auto;
    display: grid;
    grid-template-columns: 33.3% 33.3% 30.3% ;
    grid-template-rows: 60% 40%;
    grid-template-areas:"box1 box1 box2"
                        "box3 box4 box2"
                         ;
}

#container p {
    color: #949694;
}

.box1 {
    width: 53.28vw;
    height: 11.9rem;
 
    grid-area: box1;


}

.box1-img {
    width: 52.28vw;
    height: 11.9rem;}
  

   




.box2 {
    height:21.85rem;
    width: 21.4rem;
    grid-area: box2;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 8px;
   background-color: hsl(240, 100%, 5%);
    

}
.box2 p {
    color: hsl(36, 100%, 99%);
    font-weight: 50;
}
.box2 h4 {
    font-weight: bold;
    color: hsl(36, 100%, 99%);
 
}

.box2-first-div-header {

    color: hsl(35, 77%, 62%);
}
.box2-first-div .content {
    position: relative;
    top: 2rem;
    line-height: 1.5;
}



.box2-second-div {
    position: relative;
    bottom: 1rem;
    height: 1.5rem;
    line-height: 1.5;
}

.box2-third-div {
    position: relative;
    line-height: 1.5;
}

.box3 {
    position: relative;
    height: 11rem;
    width: 21.5em;
     align-items: center;
    justify-content: center; 
    grid-area: box3;
   
}

.box3-title {
   
    position: absolute;
    left: 0;
    
    

}

.box3-title h1 {
    font-size: 2.5rem
}

.box4 {
    height: 11rem;
    width: 20rem;
   display: flex;
   flex-direction: column;
    grid-area: box4;
justify-content: space-evenly;
    
   
}

.box4-link {
  
    display: inline-block;
    width: 12rem;
    background: hsl(5, 85%, 63%);
    padding: 8px;
    border-radius: 2px;
    
    
}



.box4 a {
    text-decoration: none;
    color: hsl(36, 100%, 99%);
}

.box4-link:hover {
    transition: ease-in-out 0.4s;
    text-decoration: none;
    transform: scale(1.05);
    background: hsl(240, 100%, 5%);
}



.item {
    display: flex;
}





#container-2 {
    width: 80vw;
    height: 15vh;
    margin: 5rem auto 2rem;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3% ;
    grid-template-rows: 100%;
    grid-template-areas:"box5 box6 box7"
                        
}

#container-2 p {
    color: #949694;
}

#container-2 h3 {
    color: #949694;
    font-weight: bold;
}

#container-2 h4 {
    color: hsl(240, 100%, 5%);
}


 .box5 {
    
    
    grid-area: box5;
    display: flex;
    justify-content: space-between;
 
   align-items: center;
  
  
    
    
} 




.box5-img {
    width: 5rem;
    height: 6.5rem;
}


.box5-content {
   
    margin-left: 7px;
    line-height: 1.7;
   
}
.box6 {
  
     
    
    grid-area: box6;
    display: flex;
    justify-content: space-between;
 
   align-items: center;
   
  
}






.box6-img {
    width: 5rem;
    height: 6.5rem;
}


.box6-content {
   
    margin-left: 7px;
    line-height: 1.7;
   
}


.box7 {
   
    grid-area: box7;
   
    display: flex;
    justify-content: space-between;
 
   align-items: center;
   
    
} 




.box7-img {
    width: 5rem;
    height: 6.5rem;}


.box7-content {
   
    margin-left: 7px;
    line-height: 1.7;
   
}



@media (max-width: 500px) {
   
    #mobile {
        display: block;
    }

    #hamburger-icon {
        display: block;
    }
    
    #desktop {
        display: none;
    }
    
    header nav  {
     
        display: none;
        
    }
    
    .mobile-menu li:hover {
        transform: scale(1.05);
        color: blue;
      transition: 0.4s ease-out;
    }


    body {
        width: 80vw;
        margin: 2rem auto;
    }

    #container-1-mobile {
        display: flex;
        flex-direction: column;
        width: 80vw;
        margin-top: 5rem;
        justify-content: center;
        
        
    }

    .box1-mobile {
        width: 80vw;
        height: 35vh;
    }

    .box1-img-mobile {
        width: 80vw;
        height: 35vh;
    }



    .box3-mobile {
        margin:1.5rem 0;
    }
    .box3-mobile h1 {
        font-size: x-large;
        font-weight: 900;
    }
    .box4-mobile p {
        color: #696b69;
    }

    .box4-mobile {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
        height: 20vh;
      
    }

    .box4-link-mobile {
        color: hsl(36, 100%, 99%);
       display: inline-block;
       width: 11.2rem;
       background: hsl(5, 85%, 63%);
       padding: 12px;
       border-radius: 2px;
       text-decoration: none;
       
       margin-top: 1.5rem;
       
   }

   .box4-link-mobile:hover {
    transition: ease-in-out 0.4s;
    background-color: hsl(240, 100%, 5%);
    transform: scale(1.05);
   }
   
    .box2-mobile {
        padding: 6px;
        height: 90vh;
        margin: 4rem 0;
        background: hsl(240, 100%, 5%);
    }

    .box2-mobile h4 {
        color: hsl(36, 100%, 99%);
    }

    .box2-mobile h2 {
       color: hsl(35, 77%, 62%);
    }
    .box2-mobile p{
        color: #949694;
    }

  
        .firstdiv-mobile-content {
            color: #949694;
            line-height: 2.5;
        }

    .firstdiv-mobile {
        height: 36vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;

    }

    .seconddiv-mobile {
        display: flex;
        flex-direction: column;
      justify-content: center;
        height: 27vh;
        line-height: 2.5;
        padding: 10px;
    }

    

    .thirddiv-mobile {
        padding: 10px;
        height: 27vh;
        display: flex;
        flex-direction: column;
      justify-content: center;
      line-height: 2.5;
    }


#container-mobile-1 h4:hover {
    color: hsl(35, 77%, 62%);
    transform: scale(1.02);
    transition: ease-in-out 0.4s;
}



#container-2-mobile h4:hover {
    color: hsl(5, 85%, 63%);
    transform: scale(1.05);
    transition: ease-in-out 0.4s;
}


#container-2-mobile h1, #container-2-mobile p {
   color: #696b69;
} 


.container-2-mobile {
    height: 100vh;
    width: 80vw;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-bottom: 2rem;
}

.box {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 100%;
    margin: 1.5rem 0;
  line-height: 1.7;
}


.box5-mobile-img-div {
    width: 35vw;
    height: 25vh;
}

.box6-mobile-img-div {
    width: 35vw;
    height: 25vh;
}

.box7-mobile-img-div {
    width: 35vw;
    height: 25vh;
}

.box5-mobile-img {
    width: 30vw;
    height: 25vh;
 
}

.box6-mobile-img {
    width: 30vw;
    height: 25vh;
}

.box7-mobile-img {
    width: 30vw;
    height: 25vh;
}


.box5-mobile-content {
    height: 25vh;
    width: 50vw;
    text-align: left;
   
}

.box5-mobile-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25vh;
    width: 50vw;
    flex-wrap: wrap;
   
}

.box5-mobile-content p, .box5-mobile-content h1, .box5-mobile-content h4  {
   
    width: 50vw;
   
}


.box6-mobile-content {
    height: 25vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.box6-mobile-content p, .box6-mobile-content h1, .box6-mobile-content h4  {
   
    width: 50vw;
   
}

.box7-mobile-content {
    height: 25vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    
}


.box7-mobile-content p, .box7-mobile-content h1, .box7-mobile-content h4  {
   
    width: 50vw;
   
}
}

    